@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


.navbar {
    background-color: #206a5d;
}
#navbar-title {color: #ffcc29;}

body {  padding-top: 70px;
    font-family: 'Lora', serif;
}

#section-1 {
    background-color: #81b214 ;
}
#section-2 {
    background-color: #62760c ;
}


#menu{
    padding-top: 50px;
}
#carousel{
    height: auto;
}

#section-3 {
    background-color: #535204 ;
}
#event-btn{
    background-color: #206a5d;
margin-top: 10px;
}

#section-4 {
    background-color: #cdb30c ;
    padding-top: 20px;
}

#contact-btn{
    background-color: #206a5d;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#email-info{
    padding-top: 10px;
}

#welcome-main {
    font-size: 5vh;
    font-family: 'Lora', serif;
    text-align: center;
}
/*#great-food-main {
    font-size: 5vh;
    font-family: 'Lora', serif;
    text-align: center;
}*/